.product-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.product-card {
  background: white;
  padding: 15px;
  width: 220px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
}

.product-card button {
  width: 100%;
  margin-top: 10px;
}
form {
  background: white;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

textarea {
  width: 250px;
}
